.page-general {
    .page-content {
        padding: 120px 0 50px;

        p {
            padding: 20px 0 0;
            line-height: 1.3;

            &:first-child {
                padding: 0;
            }
        }
    }
}
