.page-place {
    .place-content {
        padding: 50px 0;
    }

    .location-heading {
        position: relative;
        margin: 0 0 50px;
        padding: 180px 0 70px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            background-color: $slate-50;
            animation: slideInDown;
            animation-duration: 300ms;
        }

        .title,
        .buttons {
            position: relative;
            z-index: 2;
        }

        .title {
            padding: 0 200px 40px;

            h1,
            h2 {
                text-align: center;
            }

            h1 {
                @include font-size(52px);

                width: 100%;
                color: $slate-900;
                font-weight: 600;
                line-height: 1.2;
            }

            h2 {
                position: relative;
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                padding: 0 0 10px;

                a {
                    @include font-size(18px);

                    position: relative;
                    display: flex;
                    align-items: center;
                    color: $blue-700;
                    font-weight: 500;
                    line-height: 1.4;
                    transition: all 300ms linear;

                    &:hover {
                        color: $blue-600;

                        &::after {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        display: inline-block;
                        width: 100%;
                        height: 2px;
                        border-width: 0 0 1px;
                        border-style: solid;
                        border-color: $blue-600;
                        opacity: 0;
                        transition: opacity 0.35s, transform 0.35s;
                        transform: scale(0, 1);
                    }
                }

                i {
                    @include font-size(10px);

                    color: $slate-400;
                }
            }
        }

        .information {
            z-index: 3;
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: center;

            li {
                position: relative;

                &:hover {
                    .tooltip-container {
                        top: 100%;
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &.rating {
                    .information-holder {
                        i {
                            color: $yellow-400;
                        }
                    }
                }

                .tooltip-container {
                    .weather-days {
                        display: flex;
                        gap: 1px;
                        overflow: hidden;
                        border-width: 1px;
                        border-style: solid;
                        border-color: $slate-200;
                        border-radius: 12px;
                        background-color: $slate-200;
                        box-shadow: rgba($slate-800, 24%) 0 3px 8px;
                    }

                    .weather-day {
                        width: 150px;
                        background-color: $white;
                        color: $slate-600;
                        text-align: center;
                    }

                    .weather-heading {
                        display: flex;
                        flex-direction: column;
                        padding: 30px 0 0;

                        .weather-title {
                            @include font-size(20px);

                            padding: 0 0 10px;
                            font-weight: 600;
                        }

                        .weather-date {
                            @include font-size(12px);

                            font-weight: 500;
                        }
                    }

                    .weather-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 150px;
                        height: 100px;

                        i {
                            @include font-size(40px);
                        }
                    }

                    .weather-degrees {
                        display: flex;
                        gap: 15px;
                        align-items: center;
                        justify-content: center;
                        padding: 0 0 30px;

                        .weather-degree-day,
                        .weather-degree-night {
                            @include font-size(18px);

                            display: flex;
                            gap: 5px;
                            align-items: flex-start;
                        }

                        .weather-degree-day {
                            color: $slate-700;
                            font-weight: 500;
                        }

                        .weather-degree-night {
                            color: $slate-500;
                        }

                        .divider {
                            width: 1px;
                            height: 18px;
                            background-color: $slate-300;
                            transform: rotate(20deg);
                        }
                    }
                }

                .information-holder {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    i,
                    span {
                        color: $slate-600;
                    }

                    span,
                    strong {
                        @include font-size(15px);
                    }

                    i {
                        @include font-size(20px);
                    }

                    span {
                        font-weight: 400;
                    }

                    strong {
                        color: $slate-800;
                        font-weight: 600;
                    }
                }
            }
        }

        .buttons {
            display: flex;
            flex: 0 0 auto;
            gap: 10px;
            align-items: center;
            justify-content: center;
            padding: 40px 0 0;

            button {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 38px;
                padding: 0 18px;
                border-width: 1px;
                border-style: solid;
                border-color: $gray-300;
                border-radius: 8px;
                background-color: $white;
                box-shadow: 0 1px 2px 0 rgba($blue-900, 5%);
                cursor: pointer;
                user-select: none;
                transition: all 300ms linear;

                &:hover {
                    background-color: $gray-50;

                    i,
                    span {
                        color: $slate-800;
                    }
                }

                &.only-icon {
                    width: 38px;
                    padding: 0;

                    i {
                        padding: 0;
                    }
                }

                &.primary {
                    border-color: $blue-600;
                    background-color: $blue-600;

                    i,
                    span {
                        color: $white;
                    }

                    &:hover {
                        background-color: $blue-700;

                        i,
                        span {
                            color: $white;
                        }
                    }
                }

                i,
                span {
                    color: $slate-700;
                    transition: all 300ms linear;
                }

                i {
                    @include font-size(14px);

                    display: block;
                    padding: 0 10px 0 0;
                }

                span {
                    @include font-size(16px);

                    font-weight: 500;
                    white-space: nowrap;
                }
            }
        }
    }

    .location-map {
        margin: -80px 0 0;
        padding: 0 0 50px;

        .map {
            position: relative;
            overflow: hidden;
            width: calc(100vw - 60px);
            height: 500px;
            margin: 0 auto;
            border-radius: 12px;

            .coordinates {
                position: absolute;
                right: 5px;
                bottom: 5px;
                z-index: 2;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 10px;
                align-items: flex-end;
                padding: 20px;
                border-width: 1px;
                border-style: solid;
                border-color: $slate-400;
                border-radius: 24px 6px 14px;
                background-color: $white;

                p {
                    @include font-size(14px);

                    width: 100%;
                    color: $slate-600;
                    text-align: right;
                }

                .coords {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    span {
                        @include font-size(16px);

                        color: $slate-900;
                        font-weight: 500;
                    }

                    button {
                        @include font-size(12px);

                        border: 0;
                        background-color: transparent;
                        color: $slate-900;
                        outline: none;

                        &:hover {
                            color: $blue-600;
                            transition: all 300ms linear;
                        }
                    }
                }
            }

            .mapboxgl-map {
                z-index: 1;
            }
        }
    }

    .location-gallery {
        .wrapper {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
        }

        .photo {
            @include image {
                @include font-size(42px);
            }

            position: relative;
            overflow: hidden;
            border-radius: 16px;
            background-color: $slate-100;
            cursor: pointer;

            &:first-child {
                grid-row: 1 / 4;
                grid-column: 1 / 4;
            }

            &:nth-child(2) {
                grid-row: 1 / 2;
                grid-column: 4 / 5;
            }

            &:nth-child(3) {
                grid-row: 2 / 3;
                grid-column: 4 / 5;
            }

            &:nth-child(4) {
                grid-row: 3 / 4;
                grid-column: 4 / 5;
            }

            &:hover {
                picture {
                    &::before,
                    &::after {
                        opacity: 1;
                    }
                }

                .author {
                    opacity: 1;
                }
            }
        }

        picture,
        img {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            min-height: 220px;
        }

        picture {
            &::before {
                @include icon;
                @include font-size(16px);

                content: '\e912';
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 3;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $white;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.2s;
                transform: translate(-50%, -50%);
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background-color: rgba($black, 0.5);
                opacity: 0;
                transition: all 200ms linear;
            }
        }

        img {
            z-index: 1;
            object-fit: cover;
        }

        button,
        .copyrights {
            z-index: 2;
        }

        button {
            position: absolute;
            bottom: 25px;
            left: 25px;
            display: flex;
            gap: 10px;
            align-items: center;
            height: 40px;
            padding: 0 16px;
            border: 0;
            border-radius: 20px;
            background-color: $slate-100;
            color: $slate-800;
            box-shadow: 0 0 2px 0 rgba($black, 0.5);
            transition: all 200ms linear;

            &:hover {
                background-color: $slate-300;
            }

            span,
            i {
                color: $slate-800;
            }

            span {
                @include font-size(14px);

                font-weight: 600;
            }

            i {
                @include font-size(16px);
            }
        }

        .copyrights {
            @include font-size(12px);

            position: absolute;
            right: 25px;
            bottom: 25px;
            left: 25px;
            color: $white;
            font-weight: 600;
            line-height: 1.4;
            text-align: right;
            text-shadow: 0 1px 2px rgba($black, 1);
            opacity: 0.8;
        }
    }

    .location-contents {
        @import '../plugins/github-markdown';

        padding: 40px 0 0;

        .wrapper {
            padding: 0 80px;
        }

        .table-of-contents {
            float: right;
            padding: 0 0 30px 30px;
            background-color: $white;

            ol {
                margin: 0;
                padding: 25px;
                border-radius: 12px;
                background-color: $slate-100;
                counter-reset: item;

                li {
                    @include font-size(16px);

                    display: block;
                    margin: 0;
                    padding: 5px 0 0;

                    &::marker {
                        font-weight: 500;
                    }

                    &::before {
                        content: counters(item, '.') '. ';
                        counter-increment: item;
                    }

                    &:first-child {
                        padding: 0;
                    }

                    ol {
                        padding: 0 0 0 15px;
                    }
                }
            }
        }

        .content-authors {
            display: flex;
            align-items: center;
            margin: 50px 0 0;
            padding: 50px 0 0;
            border-width: 1px 0 0;
            border-style: solid;
            border-color: $slate-200;

            p {
                @include font-size(14px);

                padding: 0 10px 0 0;
            }

            ul {
                display: flex;
                gap: 10px;
                align-items: center;

                &.multiple {
                    gap: 0;

                    li {
                        margin: -5px;
                    }
                }

                li {
                    display: flex;
                    align-items: center;

                    a {
                        display: flex;
                        align-items: center;

                        &:hover {
                            span {
                                color: $blue-600;
                            }
                        }
                    }

                    img {
                        display: block;
                        overflow: hidden;
                        width: 40px;
                        height: 40px;
                        border-width: 2px;
                        border-style: solid;
                        border-color: $white;
                        border-radius: 50%;
                    }

                    span {
                        @include font-size(14px);

                        padding: 0 0 0 10px;
                        font-weight: 500;
                        transition: all 200ms linear;
                    }
                }
            }
        }

        .copyrights {
            padding: 20px 0 0;

            p {
                display: flex;
                align-items: center;

                i {
                    @include font-size(26px);

                    display: block;
                    padding: 0 15px 0 0;
                    color: $slate-600;
                }

                span {
                    @include font-size(13px);

                    color: $slate-500;
                    line-height: 1.4;
                }

                a {
                    color: inherit;
                    font-weight: 500;
                }
            }
        }
    }

    .location-reviews {
        padding: 80px 0 100px;

        .wrapper {
            padding: 80px 80px 50px;
            border-radius: 24px;
            background-color: $slate-100;
        }

        .title {
            padding: 0 0 60px;

            h2 {
                @include font-size(48px);

                color: $slate-800;
                font-weight: 600;
            }

            p {
                @include font-size(24px);

                padding: 15px 0 0;
                color: $slate-500;
                line-height: 1.4;
            }
        }

        .list {
            columns: 3;
            column-gap: 30px;

            .item {
                margin: 0 0 30px;
                padding: 30px;
                border-radius: 16px;
                background-color: $white;
                break-inside: avoid;
            }

            .author {
                display: flex;
                align-items: center;

                picture {
                    @include image {
                        @include font-size(16px);

                        color: $slate-500 !important;
                    }

                    position: relative;
                    display: block;
                    flex: 0 0 auto;
                    overflow: hidden;
                    width: 40px;
                    height: 40px;
                    margin: 0 15px 0 0;
                    border-radius: 50%;
                    background-color: $slate-200;

                    img {
                        position: relative;
                        z-index: 2;
                        display: block;
                        width: 100%;
                        height: 100%;
                        user-select: none;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }

                h3 {
                    @include font-size(16px);

                    font-weight: 500;
                }
            }

            .rating {
                display: flex;
                gap: 3px;
                align-items: center;

                i {
                    @include font-size(12px);

                    color: $amber-500;
                }
            }

            .review {
                padding: 20px 0;
                break-inside: avoid;

                button {
                    @include font-size(14px);

                    margin: 10px 0 0;
                    border: 0;
                    background-color: transparent;
                    color: $blue-500;
                    font-weight: 500;
                    transition: all 200ms linear;

                    &:hover {
                        color: $blue-600;
                    }
                }
            }

            .attachment {
                display: flex;
                margin: 20px 0 0;

                &.invert {
                    max-width: 50%;
                }

                &.photo,
                &.video {
                    picture {
                        @include image {
                            @include font-size(22px);
                        }

                        position: relative;
                        display: block;
                        overflow: hidden;
                        min-width: 100px;
                        border-radius: 12px;
                        background-color: $slate-100;
                        outline-width: 2px;
                        outline-style: solid;
                        outline-color: transparent;
                        outline-offset: 4px;
                        cursor: pointer;
                        transition: all 200ms linear;

                        &:hover {
                            outline-color: $blue-400;
                        }

                        img {
                            position: relative;
                            z-index: 1;
                            display: block;
                            width: 100%;
                        }
                    }
                }

                &.video {
                    position: relative;
                    padding: 56.25% 0 0;

                    &:hover {
                        &::before {
                            width: 40px;
                            height: 29px;
                            background-size: 40px 29px;
                        }
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 1;
                        width: 30px;
                        height: 22px;
                        background-image: url('/images/youtube-button.svg');
                        background-size: 30px 22px;
                        transition: all 100ms linear;
                        transform: translate(-50%, -50%);
                    }

                    picture {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            p {
                @include font-size(16px);

                color: $slate-500;
                font-weight: 400;
                line-height: 1.4;
            }

            time {
                @include font-size(14px);

                color: $slate-500;
                font-weight: 400;
            }
        }

        .buttons {
            padding: 60px 0 0;

            button {
                @include font-size(16px);

                display: flex;
                align-items: center;
                justify-content: center;
                width: auto;
                height: 48px;
                margin: 0 auto;
                padding: 0 24px;
                border: 0;
                border-radius: 24px;
                background-color: $blue-600;
                color: $white;
                font-weight: 700;
                text-align: center;
                transition: all 200ms linear;

                &:hover {
                    background-color: $blue-700;
                }
            }
        }
    }
}

.page-places {
    .results {
        padding: 50px 0;

        &.disabled {
            opacity: 0.6;
            pointer-events: none;
            user-select: none;
        }

        .list {
            display: grid;
            grid-template-columns: repeat(5, minmax(0, 1fr));
            gap: 30px;

            li {
                position: relative;

                &:hover {
                    picture {
                        img {
                            transition: all 500ms ease-in-out 0s;
                            transform: translate(-50%, -50%) scale(1.1);
                        }
                    }

                    h3 {
                        color: $blue-600;
                    }
                }

                a,
                picture,
                img {
                    display: block;
                }

                picture {
                    @include image {
                        @include font-size(60px);
                    }

                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    padding-top: 120%;
                    border-radius: 16px;
                    background-color: $slate-100;
                    box-shadow: rgba($black, 0.2) 0 1px 2px 0;

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        object-fit: cover;
                        width: 100%;
                        min-height: 100%;
                        user-select: none;
                        transition: all 300ms ease-in-out 0s;
                        transform: translate(-50%, -50%) scale(1);
                    }
                }

                .badges {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding: 30px 15px 15px;
                    background: linear-gradient(180deg, rgba($white, 0) 0%, rgba($black, 1) 100%);

                    .stars,
                    .visitors {
                        @include font-size(16px);

                        display: flex;
                        gap: 10px;
                        align-items: center;
                        justify-content: center;
                        color: $white;
                        font-weight: 500;
                    }

                    .stars {
                        i {
                            color: $amber-500;
                        }
                    }
                }

                h3,
                p {
                    text-align: center;
                }

                h3 {
                    @include font-size(18px);

                    padding: 15px 10px 10px;
                    color: $slate-800;
                    line-height: 1.2;
                    transition: all 200ms linear;
                }

                p {
                    @include font-size(16px);

                    color: $slate-500;
                    font-weight: 400;
                }
            }
        }

        .pagination {
            display: flex;
            gap: 10px;
            align-items: stretch;
            justify-content: space-between;
            padding: 50px 0 0;

            li {
                &.pages {
                    @include font-size(14px);

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    color: $slate-900;
                    line-height: 1.4;
                    text-align: center;
                }
            }

            button {
                @include font-size(14px);

                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                height: 38px;
                padding: 0 14px;
                border-width: 1px;
                border-style: solid;
                border-color: $gray-300;
                border-radius: 8px;
                background-color: $white;
                box-shadow: 0 1px 2px 0 rgba($blue-900, 5%);
                white-space: nowrap;
                cursor: pointer;
                user-select: none;
                transition: all 100ms linear;

                &:disabled {
                    opacity: 0.6;
                    pointer-events: none;
                }

                &:hover {
                    background-color: $gray-50;

                    span {
                        color: $slate-800;
                    }
                }

                span,
                i {
                    color: $slate-700;
                    line-height: 1;
                }

                span {
                    @include font-size(16px);

                    font-weight: 500;
                    transition: all 100ms linear;
                }

                i {
                    @include font-size(14px);
                }
            }
        }
    }
}
