.page-place {
    .location-heading {
        .title {
            display: flex;
            gap: 50px;
            align-items: center;
            justify-content: space-between;
            padding: 0 0 20px;

            h1 {
                @include font-size(48px);

                width: 100%;
                font-weight: 600;
                line-height: 1.2;
            }

            aside {
                display: flex;
                flex: 0 0 auto;
                gap: 10px;
                align-items: center;
                justify-content: flex-end;

                button {
                    position: relative;
                    display: flex;
                    flex: 0 0 auto;
                    align-items: center;
                    justify-content: center;
                    overflow: auto;
                    width: 50px;
                    height: 50px;
                    border-width: 2px;
                    border-style: solid;
                    border-color: $slate-200;
                    border-radius: 50%;
                    background-color: $white;
                    transition: all 200ms linear;

                    &:hover {
                        background-color: $slate-200;

                        i {
                            color: $slate-600;
                        }

                        .tooltip-container {
                            top: 100%;
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    &.favorite {
                        &:hover {
                            border-color: $red-100;
                            background-color: $red-100;

                            i {
                                color: $red-600;
                            }
                        }

                        &.active {
                            border-color: $red-200;
                            background-color: $red-200;

                            i {
                                color: $red-600;
                            }
                        }
                    }

                    i {
                        @include font-size(20px);

                        display: block;
                        color: $slate-500;
                        transition: all 200ms linear;
                    }
                }
            }
        }

        .information {
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 0 0 60px;

            li {
                position: relative;

                &:hover {
                    .tooltip-container {
                        top: 100%;
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &.rating {
                    .information-holder {
                        i {
                            color: $yellow-400;
                        }
                    }
                }

                .tooltip-container {
                    .weather-days {
                        display: flex;
                        gap: 1px;
                        overflow: hidden;
                        border-width: 1px;
                        border-style: solid;
                        border-color: $slate-200;
                        border-radius: 12px;
                        background-color: $slate-200;
                        box-shadow: rgba($slate-800, 24%) 0 3px 8px;
                    }

                    .weather-day {
                        width: 150px;
                        background-color: $white;
                        color: $slate-600;
                        text-align: center;
                    }

                    .weather-heading {
                        display: flex;
                        flex-direction: column;
                        padding: 30px 0 0;

                        .weather-title {
                            @include font-size(20px);

                            padding: 0 0 10px;
                            font-weight: 600;
                        }

                        .weather-date {
                            @include font-size(12px);

                            font-weight: 500;
                        }
                    }

                    .weather-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 150px;
                        height: 100px;

                        i {
                            @include font-size(40px);
                        }
                    }

                    .weather-degrees {
                        display: flex;
                        gap: 15px;
                        align-items: center;
                        justify-content: center;
                        padding: 0 0 30px;

                        .weather-degree-day,
                        .weather-degree-night {
                            @include font-size(18px);

                            display: flex;
                            gap: 5px;
                            align-items: flex-start;
                        }

                        .weather-degree-day {
                            color: $slate-700;
                            font-weight: 500;
                        }

                        .weather-degree-night {
                            color: $slate-500;
                        }

                        .divider {
                            width: 1px;
                            height: 18px;
                            background-color: $slate-300;
                            transform: rotate(20deg);
                        }
                    }
                }

                .information-holder {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    i,
                    span {
                        color: $slate-500;
                    }

                    span,
                    strong {
                        @include font-size(15px);
                    }

                    i {
                        @include font-size(20px);
                    }

                    span {
                        font-weight: 400;
                    }

                    strong {
                        color: $slate-800;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .location-gallery {
        .wrapper {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
        }

        .photo {
            position: relative;
            overflow: hidden;
            border-radius: 16px;
            cursor: pointer;

            &:first-child {
                grid-row: 1 / 4;
                grid-column: 1 / 4;
            }

            &:nth-child(2) {
                grid-row: 1 / 2;
                grid-column: 4 / 5;
            }

            &:nth-child(3) {
                grid-row: 2 / 3;
                grid-column: 4 / 5;
            }

            &:nth-child(4) {
                grid-row: 3 / 4;
                grid-column: 4 / 5;
            }

            &:hover {
                picture {
                    &::before,
                    &::after {
                        opacity: 1;
                    }
                }

                .author {
                    opacity: 1;
                }
            }
        }

        picture,
        img {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
        }

        picture {
            background-color: $slate-100;

            &::before {
                @include icon;
                @include font-size(16px);

                content: '\e912';
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 3;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $white;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.2s;
                transform: translate(-50%, -50%);
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background-color: rgba($black, 0.5);
                opacity: 0;
                transition: all 200ms linear;
            }
        }

        img {
            z-index: 1;
            object-fit: cover;
        }

        button,
        .copyrights {
            z-index: 3;
        }

        button {
            position: absolute;
            bottom: 25px;
            left: 25px;
            display: flex;
            gap: 10px;
            align-items: center;
            height: 40px;
            padding: 0 16px;
            border: 0;
            border-radius: 20px;
            background-color: $slate-100;
            color: $slate-800;
            box-shadow: 0 0 2px 0 rgba($black, 0.5);
            transition: all 200ms linear;

            &:hover {
                background-color: $slate-300;
            }

            span,
            i {
                color: $slate-800;
            }

            span {
                @include font-size(14px);

                font-weight: 600;
            }

            i {
                @include font-size(16px);
            }
        }

        .copyrights {
            @include font-size(12px);

            position: absolute;
            right: 25px;
            bottom: 25px;
            color: $white;
            font-weight: 600;
            text-shadow: 0 1px 2px rgba($black, 1);
            opacity: 0.8;
        }
    }

    .location-contents {
        padding: 40px 0 0;

        .wrapper {
            padding: 0 80px;
        }

        .table-of-contents {
            .holder {
                padding: 40px;
                border-radius: 24px;
                background-color: $slate-100;
            }

            h2 {
                @include font-size(20px);

                padding: 0 0 15px;
                color: $slate-800;
            }

            ul {
                padding: 0 0 0 20px;
            }

            li {
                padding: 5px 0 5px 5px;
                list-style: decimal;
            }

            a {
                color: $blue-600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .contents {
            .content {
                padding: 50px 0 0;

                .title {
                    h1 {
                        @include font-size(28px);

                        padding: 0 0 20px;
                        color: $slate-800;
                        font-weight: 500;
                        line-height: 1.2;
                    }
                }

                .markdown {
                    p {
                        @include font-size(18px);

                        padding: 0 0 15px;
                        color: $slate-500;
                        line-height: 1.4;

                        &:last-of-type {
                            padding: 0;
                        }
                    }
                }
            }
        }

        .copyrights {
            p {
                padding: 50px 40px 0;
                text-align: center;

                i {
                    @include font-size(26px);

                    display: block;
                    padding: 0 0 10px;
                    color: $slate-600;
                }

                span {
                    @include font-size(13px);

                    color: $slate-500;
                    line-height: 1.2;
                }
            }
        }
    }

    .location-reviews {
        padding: 80px 0 100px;

        .wrapper {
            padding: 80px 80px 50px;
            border-radius: 24px;
            background-color: $slate-100;
        }

        .title {
            padding: 0 0 60px;

            h2 {
                @include font-size(48px);

                color: $slate-800;
                font-weight: 600;
            }

            p {
                @include font-size(24px);

                padding: 15px 0 0;
                color: $slate-500;
                line-height: 1.4;
            }
        }

        .list {
            columns: 3;
            column-gap: 30px;

            .item {
                margin: 0 0 30px;
                padding: 30px;
                border-radius: 16px;
                background-color: $white;
                break-inside: avoid;
            }

            .author {
                display: flex;
                align-items: center;

                picture {
                    @include image {
                        @include font-size(16px);

                        color: $slate-500 !important;
                    }

                    position: relative;
                    display: block;
                    flex: 0 0 auto;
                    overflow: hidden;
                    width: 40px;
                    height: 40px;
                    margin: 0 15px 0 0;
                    border-radius: 50%;
                    background-color: $slate-200;

                    img {
                        position: relative;
                        z-index: 2;
                        display: block;
                        width: 100%;
                        height: 100%;
                        user-select: none;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }

                h3 {
                    @include font-size(16px);

                    font-weight: 500;
                }
            }

            .rating {
                display: flex;
                gap: 3px;
                align-items: center;

                i {
                    @include font-size(12px);

                    color: $amber-500;
                }
            }

            .review {
                padding: 20px 0;

                a {
                    display: inline-block;
                    overflow: hidden;
                    max-width: 50%;
                    margin: 20px 0 0;
                    border-radius: 12px;
                }

                picture {
                    display: block;

                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }

            p {
                @include font-size(16px);

                color: $slate-500;
                font-weight: 400;
                line-height: 1.4;
            }

            time {
                @include font-size(14px);

                color: $slate-500;
                font-weight: 400;
            }
        }

        .buttons {
            padding: 60px 0 0;

            button {
                @include font-size(16px);

                display: flex;
                align-items: center;
                justify-content: center;
                width: auto;
                height: 48px;
                margin: 0 auto;
                padding: 0 24px;
                border: 0;
                border-radius: 24px;
                background-color: $blue-600;
                color: $white;
                font-weight: 700;
                text-align: center;
                transition: all 200ms linear;

                &:hover {
                    background-color: $blue-700;
                }
            }
        }
    }
}

@import 'responsive/place';
