.page-region,
.page-regions {
    .page-container {
        overflow: hidden;
    }

    .regions-list {
        padding: 50px 0;

        h2 {
            padding: 30px;
        }

        ul {
            display: grid;
            gap: 1px;
        }

        li {
            display: flex;
            align-items: stretch;
            outline-width: 1px;
            outline-style: solid;
            outline-color: $slate-200;
        }

        a {
            @include font-size(16px);

            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 15px;
            color: $slate-600;
            text-align: right;
            transition: all 200ms linear;

            &:hover {
                background-color: $slate-100;
            }

            span {
                @include font-size(12px);

                margin: 0 0 0 10px;
                padding: 5px;
                border-radius: 4px;
                background-color: $slate-700;
                color: $white;
                font-weight: 600;
            }
        }
    }
}

.page-region {
    .regions-list {
        ul {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }
    }
}

.page-regions {
    .regions-list {
        ul {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}
