.badge-status {
    @include font-size(12px);

    display: inline;
    padding: 6px 8px;
    border-radius: 4px;
    background-color: $slate-100;
    color: $slate-500;
    font-weight: 500;
    text-transform: uppercase;
    white-space: pre;

    &.circle-only {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0 6px 0 0;
        padding: 0;
        border-radius: 50%;
        background-color: $slate-500;

        &.green {
            background-color: $green-500;
        }

        &.red {
            background-color: $rose-500;
        }

        &.yellow {
            background-color: $amber-500;
        }

        &.blue {
            background-color: $blue-500;
        }

        &.pink {
            background-color: $pink-500;
        }

        &.cyan {
            background-color: $cyan-500;
        }
    }

    &.green {
        background-color: $green-100;
        color: $green-500;
    }

    &.red {
        background-color: $rose-100;
        color: $rose-500;
    }

    &.yellow {
        background-color: $amber-100;
        color: $amber-500;
    }

    &.blue {
        background-color: $blue-100;
        color: $blue-500;
    }

    &.pink {
        background-color: $pink-100;
        color: $pink-500;
    }

    &.cyan {
        background-color: $cyan-100;
        color: $cyan-500;
    }
}

@import 'responsive/badge-status';
