.input-container {
    width: 100%;

    &.focus {
        &.has-error {
            .input-field {
                border-color: $red-600;
                outline-color: $red-200;
            }
        }

        .input-field {
            border-color: $blue-500;
            outline-color: $blue-200;
        }
    }

    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
    }

    &.disabled,
    &.readonly {
        &.has-prefix,
        &.has-suffix {
            .input-prefix,
            .input-suffix {
                background-color: $slate-50;
                color: $slate-500;
            }
        }
    }

    &.has-error {
        &.has-prefix,
        &.has-suffix {
            color: $red-400;
        }

        .input-field {
            border-color: $red-300;
            background-color: $red-50;
        }

        .input-prefix,
        .input-suffix {
            &::before {
                background-color: $red-300;
            }
        }

        .input-prepend,
        .input-append {
            background-color: $red-100;
            color: $red-600;
        }

        .input-prepend,
        .input-append,
        .input-prefix,
        .input-suffix {
            i,
            svg {
                color: $red-600;
            }

            svg {
                fill: $red-600 !important;

                path {
                    fill: $red-600 !important;
                }
            }
        }

        .input-error {
            p {
                height: auto;
                padding: 10px 0 0;
                opacity: 1;
                visibility: visible;
                transition: height 200ms linear, padding 200ms linear, opacity 0ms, visibility 0ms;
            }
        }

        input {
            @include placeholder {
                color: $red-400;
            }

            color: $red-900;
        }
    }

    &.has-prefix {
        input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &.has-suffix {
        input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &.has-prepend {
        .input-field {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            input {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    &.has-append {
        .input-field {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow: none;

            input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    .input-wrapper {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    .input-field {
        z-index: 1;
        display: flex;
        flex: 0 1 auto;
        align-items: stretch;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
        min-width: 200px;
        border-width: 1px;
        border-style: solid;
        border-color: $slate-300;
        border-radius: 6px;
        background-color: $slate-200;
        box-shadow: rgba($black, 5%) 0 1px 2px 0;
        outline-width: 3px;
        outline-style: solid;
        outline-color: transparent;
        transition: all 200ms linear;
    }

    .input-prefix,
    .input-suffix {
        @include font-size(14px);

        position: relative;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: space-between;
        background-color: $white;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            width: 1px;
            height: 50%;
            background-color: $slate-300;
            transform: translateY(-50%);
        }
    }

    .input-prefix {
        &::before {
            right: 0;
        }
    }

    .input-suffix {
        &::before {
            left: 0;
        }
    }

    .input-prepend,
    .input-append {
        position: relative;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: space-between;
        background-color: $slate-200;
    }

    .input-prepend,
    .input-append,
    .input-prefix,
    .input-suffix {
        @include font-size(14px);

        padding: 0 15px;
        color: $slate-600;
        line-height: 1;
        cursor: text;

        i,
        svg {
            @include font-size(16px);

            color: $slate-600;
        }

        svg {
            width: 16px !important;
            height: 16px !important;
            fill: $slate-600 !important;

            path {
                fill: $slate-600 !important;
            }
        }
    }

    .input-prepend {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .input-append {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .input-error {
        p {
            @include font-size(14px);

            height: 0;
            padding: 0;
            color: $red-600;
            line-height: 1.2;
            opacity: 0;
            visibility: hidden;
            transition: height 200ms linear, padding 200ms linear, opacity 0ms, visibility 0ms;

            strong {
                font-weight: 500;
            }
        }
    }

    input {
        @include font-size(16px);

        @include autofill {
            @include font-size(16px);

            background-color: $white !important;
            color: $slate-600;
            -webkit-box-shadow: 0 0 0 50px white inset;
            -webkit-text-fill-color: $slate-600 !important;
        }

        @include placeholder {
            color: $slate-500;
            opacity: 1;
        }

        overflow: hidden;
        width: 100%;
        padding: 12px 16px;
        border: none;
        border-radius: 6px;
        background-color: $white;
        color: $slate-600;
        font-weight: 400;
        line-height: 1.2;
        filter: none;
        transition: all 200ms linear;

        &:disabled,
        &:read-only {
            @include placeholder {
                color: $slate-400;
            }

            border-color: $slate-200;
            background-color: $slate-50;
            color: $slate-500;
            opacity: 1;
            cursor: default;
        }

        &:focus {
            outline: none;
        }
    }
}

@import 'responsive/form-input';
