.modal {
    .finder-container {
        position: relative;
        max-width: 600px;
        border-radius: 12px;
        background-color: $white;
        box-shadow: 0 12px 32px rgba($black, 0.1), 0 2px 6px rgba($black, 0.08);

        .section-name {
            padding: 30px 30px 15px;

            span {
                @include font-size(16px);

                display: inline-flex;
                align-items: center;
                color: $slate-700;
                font-weight: 500;
                transition: all 200ms linear;
            }
        }

        .section-content {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 0 30px 30px;

            li {
                background-color: transparent;
                cursor: pointer;
                user-select: none;

                &:last-child {
                    .action {
                        padding: 5px 0 0;
                    }
                }

                &.disabled {
                    opacity: 0.6;
                    pointer-events: none;
                }

                .action {
                    display: flex;
                    align-items: center;
                    padding: 5px 0;

                    &:hover {
                        .checkbox {
                            border-color: $gray-400;
                            box-shadow: rgba($black, 0%) 0 0 0 0, rgba($black, 0%) 0 0 0 0, rgba($black, 10%) 0 1px 2px 0;

                            &.checked {
                                border-color: $blue-700;
                                background-color: $blue-700;
                                box-shadow: none;
                            }
                        }
                    }
                }

                .localities {
                    .action {
                        width: 100%;
                        padding: 5px 0 5px 30px;
                    }

                    li {
                        position: relative;
                        display: flex;
                        align-items: center;
                        transition: all 200ms linear;

                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            background-color: $slate-300;
                        }

                        &::before {
                            top: 0;
                            left: 11px;
                            width: 2px;
                            height: 100%;
                        }

                        &::after {
                            top: 50%;
                            left: 12px;
                            width: 8px;
                            height: 2px;
                            transform: translateY(-50%);
                        }

                        &:last-child {
                            &::before {
                                height: 52%;
                            }
                        }
                    }
                }

                .checkbox {
                    position: relative;
                    flex: 0 0 auto;
                    width: 24px;
                    height: 24px;
                    margin: 0 10px 0 0;
                    border-width: 1px;
                    border-style: solid;
                    border-color: $gray-300;
                    border-radius: 4px;
                    background-color: $white;
                    box-shadow: rgba($black, 0%) 0 0 0 0, rgba($black, 0%) 0 0 0 0, rgba($black, 5%) 0 1px 2px 0;
                    outline-width: 3px;
                    outline-style: solid;
                    outline-color: transparent;
                    transition: all 200ms linear;

                    &.checked {
                        border-color: $blue-600;
                        background-color: $blue-600;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 4px;
                            left: 8px;
                            width: 6px;
                            height: 12px;
                            border-width: 0 2px 2px 0;
                            border-style: solid;
                            border-color: $white;
                            transform: rotate(45deg);
                        }
                    }
                }

                .stars {
                    display: flex;
                    gap: 4px;
                    align-items: center;

                    &.style-1 {
                        color: $rose-600;
                    }

                    &.style-2 {
                        color: $orange-600;
                    }

                    &.style-3 {
                        color: $amber-600;
                    }

                    &.style-4 {
                        color: $lime-600;
                    }

                    &.style-5 {
                        color: $green-600;
                    }
                }

                span {
                    @include font-size(16px);

                    line-height: 1.4;
                }
            }
        }

        footer {
            padding: 0 10px 10px;

            p {
                @include font-size(16px);

                max-width: 450px;
                padding: 25px 50px;
                border-radius: 12px;
                background-color: $slate-100;
                color: $slate-700;
                font-weight: 500;
                line-height: 1.4;
                text-align: center;
            }
        }
    }
}
