// @include screen-xl {}

// @include screen-lg {}

// @include screen-md {}

// @include screen-sm {}

@include screen-xs {
    .input-container {
        &.has-prepend {
            &.has-append {
                .input-field {
                    border-radius: 0;

                    input {
                        border-radius: 0;
                    }
                }
            }

            .input-field {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: 6px;

                input {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 6px;
                }
            }
        }

        &.has-append {
            .input-field {
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;

                input {
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }

        .input-wrapper {
            flex-direction: column;
        }

        .input-prepend {
            min-height: 40px;
            padding: 10px 15px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            border-bottom-left-radius: 0;
            line-height: 1.4;
        }

        .input-append {
            min-height: 40px;
            padding: 10px 15px;
            border-top-right-radius: 0;
            border-bottom-left-radius: 6px;
            line-height: 1.4;
        }
    }
}
