.icon-add::before {
    content: '\e900';
}

.icon-minus::before {
    content: '\e947';
}

.icon-alert-triangle::before {
    content: '\e901';
}

.icon-arrow-down::before {
    content: '\e902';
}

.icon-arrow-left::before {
    content: '\e903';
}

.icon-arrow-right::before {
    content: '\e904';
}

.icon-arrow-up::before {
    content: '\e905';
}

.icon-check::before {
    content: '\e906';
}

.icon-close::before {
    content: '\e907';
}

.icon-copy::before {
    content: '\e908';
}

.icon-delete::before {
    content: '\e909';
}

.icon-edit::before {
    content: '\e90a';
}

.icon-info::before {
    content: '\e90c';
}

.icon-link::before {
    content: '\e90d';
}

.icon-logout::before {
    content: '\e90e';
}

.icon-menu::before {
    content: '\e90f';
}

.icon-menu-dots::before {
    content: '\e910';
}

.icon-save::before {
    content: '\e911';
}

.icon-search::before {
    content: '\e912';
}

.icon-settings::before {
    content: '\e913';
}

.icon-unlink::before {
    content: '\e915';
}

.icon-user::before {
    content: '\e90b';
}

.icon-languages::before {
    content: '\e91b';
}

.icon-filters::before {
    content: '\e91c';
}

.icon-night::before {
    content: '\e91d';
}

.icon-day::before {
    content: '\e91e';
}

.icon-image::before {
    content: '\e920';
}

.icon-location::before {
    content: '\e921';
}

.icon-unpin::before {
    content: '\e922';
}

.icon-pin::before {
    content: '\e923';
}

.icon-navigation::before {
    content: '\e91f';
}

.icon-map::before {
    content: '\e924';
}

.icon-weather-windy-cloudy::before {
    content: '\e916';
}

.icon-weather-windy::before {
    content: '\e917';
}

.icon-weather-sunny::before {
    content: '\e918';
}

.icon-weather-stormy::before {
    content: '\e919';
}

.icon-weather-snow::before {
    content: '\e91a';
}

.icon-weather-shower::before {
    content: '\e925';
}

.icon-weather-partly-sunny::before {
    content: '\e926';
}

.icon-weather-night::before {
    content: '\e927';
}

.icon-weather-downpour::before {
    content: '\e928';
}

.icon-weather-cloudy::before {
    content: '\e929';
}

.icon-mountain-altitude::before {
    content: '\e92a';
}

.icon-award::before {
    content: '\e92b';
}

.icon-volume-x::before {
    content: '\e92c';
}

.icon-volume-2::before {
    content: '\e92d';
}

.icon-volume-1::before {
    content: '\e92e';
}

.icon-skip-forward::before {
    content: '\e930';
}

.icon-skip-back::before {
    content: '\e931';
}

.icon-playlist::before {
    content: '\e932';
}

.icon-play::before {
    content: '\e933';
}

.icon-pause::before {
    content: '\e934';
}

.icon-audio-line::before {
    content: '\e935';
}

.icon-category-seasonal::before {
    content: '\e92f';
}

.icon-category-nature::before {
    content: '\e936';
}

.icon-category-monuments::before {
    content: '\e937';
}

.icon-category-architecture::before {
    content: '\e938';
}

.icon-heart-solid::before {
    content: '\e939';
}

.icon-heart::before {
    content: '\e93a';
}

.icon-share::before {
    content: '\e93b';
}

.icon-star-solid::before {
    content: '\e93c';
}

.icon-star::before {
    content: '\e93d';
}

.icon-route::before {
    content: '\e914';
}

.icon-users::before {
    content: '\e93e';
}

.icon-refresh::before {
    content: '\e93f';
}

.icon-home::before {
    content: '\e940';
}

.icon-arrow-right-tail::before {
    content: '\e941';
}

.icon-arrow-left-tail::before {
    content: '\e942';
}

.icon-social-twitter::before {
    content: '\e943';
}

.icon-social-github::before {
    content: '\e944';
}

.icon-social-facebook::before {
    content: '\e945';
}

.icon-social-discord::before {
    content: '\e946';
}
