.icon-add::before {
    content: '\e900';
}

.icon-alert-triangle::before {
    content: '\e901';
}

.icon-arrow-down::before {
    content: '\e902';
}

.icon-arrow-left::before {
    content: '\e903';
}

.icon-arrow-right::before {
    content: '\e904';
}

.icon-arrow-up::before {
    content: '\e905';
}

.icon-check::before {
    content: '\e906';
}

.icon-close::before {
    content: '\e907';
}

.icon-copy::before {
    content: '\e908';
}

.icon-delete::before {
    content: '\e909';
}

.icon-edit::before {
    content: '\e90a';
}

.icon-info::before {
    content: '\e90c';
}

.icon-link::before {
    content: '\e90d';
}

.icon-logout::before {
    content: '\e90e';
}

.icon-menu::before {
    content: '\e90f';
}

.icon-menu-dots::before {
    content: '\e910';
}

.icon-save::before {
    content: '\e911';
}

.icon-search::before {
    content: '\e912';
}

.icon-settings::before {
    content: '\e913';
}

.icon-socials::before {
    content: '\e914';
}

.icon-unlink::before {
    content: '\e915';
}

.icon-nature::before {
    content: '\e916';
}

.icon-monuments::before {
    content: '\e917';
}

.icon-architecture::before {
    content: '\e918';
}

.icon-animals::before {
    content: '\e919';
}

.icon-asterisk::before {
    content: '\e91a';
}

.icon-user::before {
    content: '\e90b';
}

.icon-languages::before {
    content: '\e91b';
}

.icon-filters::before {
    content: '\e91c';
}

.icon-night::before {
    content: '\e91d';
}

.icon-day::before {
    content: '\e91e';
}

.icon-image::before {
    content: '\e920';
}

.icon-location::before {
    content: '\e921';
}

.icon-unpin::before {
    content: '\e922';
}

.icon-pin::before {
    content: '\e923';
}

.icon-navigation::before {
    content: '\e91f';
}

.icon-map::before {
    content: '\e924';
}

.icon-list::before {
    content: '\e925';
}
