// @include screen-uhd {}

// @include screen-qhd {}

// @include screen-xl {}

// @include screen-lg {}

// @include screen-md {}

// @include screen-sm {}

@include screen-xs {
    .page-error {
        padding: xs(50px) 0;

        .container {
            padding: 0 xs(50px);
        }

        h1 {
            span {
                padding: 0 xs(40px);
                font-size: xs(200px);
            }
        }

        h2 {
            padding: xs(10px) 0 xs(50px);
            font-size: xs(26px);
        }
    }
}
